.DS_Store
.idea/
*.swp
*~

/bin/
/dist/
.gopath/
.gocache/

xcuserdata/
DerivedData/
*.xcuserstate
*.moved-aside
*.hmap
*.ipa
timeline.xctimeline
playground.xcworkspace

macos/Core/libprovenencia.h
macos/Core/libprovenencia.dylib

*.profraw
